.body{
    background-color:wheat;
}



@keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translate3d(0, 100%, 0);
            }
            to {
                opacity: 1;
                transform: none;
            }
        }

        .carousel-item {
            opacity: 0;
            transition: opacity 1s ease, transform 1s ease;
        }

        .carousel-item-next,
        .carousel-item-prev,
        .carousel-item.active {
            animation: fadeInUp 1s;
        }

        
        .carousel-item img {
            border-radius: 10px;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        }

        .carousel {
            max-width: 1000px;
            margin: 0 auto; 
        }

        .carousel-item img {
            width: 100%;
            height: 590px; 
            object-fit: cover; 
        }

        
        .carousel-caption {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5); 
            padding: 20px;
            border-radius: 10px;
        }

        .carousel-caption h5 {
            color: #fff;
            font-size: 24px;
        }

        .carousel-caption p {
            color: #ddd;
            font-size: 6px;
        }







        .btn-primary-custom:hover {
            background-color: #0056b3; 
            box-shadow: 0 6px 12px rgba(0, 123, 255, 0.6); 
        }



/* Estilos personalizados para las tarjetas */
        .card-custom {
            border: none; /* Sin borde */
            border-radius: 10px; /* Bordes redondeados */
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
            transition: transform 0.3s, box-shadow 0.3s; /* Transición suave */
        }

        .card-custom:hover {
            transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
            box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); /* Sombra más intensa al hacer hover */
        }

        .card-header {
            background-color: #007bff; /* Color de fondo del encabezado */
            color: white; /* Color del texto del encabezado */
            font-weight: bold; /* Texto en negrita */
        }







